<app-navbar></app-navbar>
<h1>REGISTROS</h1>
<h1 style="font-size:large">Vehículos temporales</h1>

<div class="container22">
  <img src="../../../assets/form.png" alt="" width="600">
</div>

<div class="container2">
    <label for="fechaInicio">Fecha de inicio:</label>
    <input type="date" id="fechaInicio" [(ngModel)]="fechaInicio">
    
    <label for="fechaTermino">Fecha de término:</label>
    <input type="date" id="fechaTermino" [(ngModel)]="fechaTermino">
    
    <button class="btn" (click)="generarReportes()">Generar reporte PDF</button>
  </div>


<div class="contenedor">
  <table class="tabla" >
    <caption>Ingresos</caption>
    <thead>
      <th>Placa</th>
      <th>Nombre Dueño</th>
      <th>Cajon</th>
      <th>Periodo</th>
      <th>Cantidad</th>
      <th>Fecha de ingreso</th>
      <th>Total</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let item of datos2; let i=index">
        <td>{{item.placa}}</td>
        <td>{{item.nombreD}}</td>
        <td>{{item.cajon}}</td>
        <td>{{item.periodo}}</td>
        <td>{{item.cantidad}}</td>
        <td>{{item.fecha | date:'dd/MM/yyyy'}}</td>
        <td>${{item.totalT}}</td>
        <ng-template #myModalInfo let-modal>
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="myModalLabel">EDITAR</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">X
              </button>
            </div>
            <div class="modal-body">
                <form action="#">
                  <label for="">Placa:</label>
                    <input type="text"  name="placa" [(ngModel)]="datos.placa" placeholder="Placa">
                    <label for="">Nombre del propietario:</label>
                    <input type="text"  name="nombreD" [(ngModel)]="datos.nombreD" placeholder="Nombre Dueño">
                    <label for="">Cantidad:</label>
                    <input type="text"  name="Cantidad" [(ngModel)]="datos.cantidad" placeholder="Cantidad">
                    <button style="left: 25%;" class="btnModal" (click)="mostrarConfirmacionUpdate()"> EDITAR REGISTRO </button>
                  </form>
        </div>
      </div>
      </ng-template>
      <!--
        <td>
          <button type="button" class="btn2 btn-danger" (click)="mostrarConfirmacion(item._id)"><i class="fa-solid fa-trash"></i></button>
        </td>
        -->
        <td>
          <button type="button" class="btn2 btn-warning" (click)="mostrarModalInfo(item)"><i class="fa-solid fa-pen-to-square"></i></button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total: {{ total }}</td>
      </tr>
    </tbody>
  </table>

</div>
<br>

<div class="contenedor">
  <table class="tabla" >
    <caption>Salidas</caption>
    <thead>
      <th>Placa</th>
      <th>Nombre Dueño</th>
      <th>Cajon</th>
      <th>Periodo</th>
      <th>Cantidad</th>
      <th>Fecha de ingreso</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let item of datos3; let i=index">
        <td>{{item.placa}}</td>
        <td>{{item.nombreD}}</td>
        <td>{{item.cajon}}</td>
        <td>{{item.periodo}}</td>
        <td>{{item.cantidad}}</td>
        <td>{{item.fecha | date:'dd/MM/yyyy'}}</td>
        <!--
        <td>
          <button type="button" class="btn2 btn-danger" (click)="mostrarConfirmacionEliminarSalida(item._id)"><i class="fa-solid fa-trash"></i></button>
        </td>
        -->
        <ng-template #myModalInfo let-modal>
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="myModalLabel">EDITAR</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">X
              </button>
            </div>
            <div class="modal-body">
                <form action="#">
                  <label for="">Placa:</label>
                    <input type="text"  name="placa" [(ngModel)]="datos.placa" placeholder="Placa">
                    <label for="">Nombre del propietario:</label>
                    <input type="text"  name="nombreD" [(ngModel)]="datos.nombreD" placeholder="Nombre Dueño">
                    <label for="">Cantidad:</label>
                    <input type="text"  name="Cantidad" [(ngModel)]="datos.cantidad" placeholder="Cantidad">
                    <button class="btnModal" (click)="mostrarConfirmacionUpdate()"> EDITAR REGISTRO </button>
                  </form>
        </div>
      </div>
      </ng-template>
        
    </tbody>
  </table>

</div>

<div class="pie">
  <app-footer></app-footer>
</div>
