body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}

.btn{
    line-height: normal;
    font-size: 14px;
    margin-left: 2px;
    border-radius: 20px;
    border: 1px solid #4bb6b7;
    background-color: #4bb6b7;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 20px;
    letter-spacing: 1px;
}

.btn2{
    padding: 10px 10px; /* Espaciado interno del botón */
    border: none; /* Quita el borde del botón */
    display: inline-block; /* Hace que el botón se muestre como un bloque en línea */
    font-size: 16px; /* Tamaño de fuente del texto */
    transition-duration: 0.4s; /* Duración de la transición */
    border-radius: 50%;
  }

.btn2:hover {
    background-color: #94d4d8; /* Cambia el color de fondo al pasar sobre el botón */
}



/* Estilos para los cajones de estacionamiento */
.parking-spot {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid #ccc;
    background-color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    margin: 10px;
    color: #333;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}


/* Estilos para cajones de estacionamiento ocupados */
.parking-spot.occupied {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: #fff;
}

/* Estilos para cajones de estacionamiento seleccionados */
.parking-spot.selected {
    background-color: #2196F3;
    border-color: #2196F3;
    color: #fff;
}

span{
    font-size: 14px;
    margin-top: 25px;
}

.content{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.content .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content input{
    text-align: center;
    accent-color: #333;
    width: 12px;
    height: 12px;
}

.content label{
    font-size: 14px;
    user-select: none;
    padding-left: 5px;
    /* 16:23*/
}



.tiempo{
    width: 95%;
    font-size: smaller;
    text-align: center;
    display:inline-flex;
}



span{
    text-align: center;
    font-size: smaller;
    margin-right: 5px;
    margin-left: 5px;
    color: #333;
}

h5{
    margin: 0%;
    margin-top: 10px;
    color: #333
}

h4{
    
    margin-top: -30px;
    color: #333
}

form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input{
    background-color: #eee;
    border-radius: 10px;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

table {
    width: 100%;
    caption-side: top;
    margin-bottom: 4rem;
    margin-top: -2rem;
  }

.container {
    width: 80%;
    margin: 0 auto; /* Centrar el contenedor */
}

.container2 {
    /* width: 50%; */
    margin-left: 50%;
    margin-right: 5%;
    margin-bottom: 3rem;
    margin-top: -18rem;
}

.container2.right-panel-active .login-container{
transform: translateX(100%);
}

.container2.container.right-panel-active .overlay-container{
    transform: translate(-100%);
}


.container22 {
    /* width: 50%; */
    /* position:static; */
    display: flex;
    margin-bottom: 2rem;
    margin-top: -3rem;
    margin-left: 3%;
}



.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.login-container{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .login-container{
    transform: translateX(100%);
}


.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.container.right-panel-active .overlay-container{
    transform: translate(-100%);
}

.overlay{
    background-repeat: no-repeat;
    background-size:contain;
    background-position: 0 0;
    color: #fff;
    position: relative;
    left: -3%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out ;
}

button{
    line-height: normal;
    font-size: 14px;
    margin-left: 2px;
}
/*
.buttonSpotOcupar{
    line-height: normal;
    font-size: 14px;
    margin-left: 3px;
    border: 1px solid #4b64b7;
    background-color: #4b64b7;

}
.buttonSpotRenta{
    line-height: normal;
    font-size: 14px;
    margin-left: 3px;
    border: 1px solid #4bb6b7;
    background-color: #4bb6b7;
    border-radius: 10px;

}
.buttonSpotDeso{
    line-height: normal;
    font-size: 14px;
    margin-left: 3px;
    border: 1px solid #b74f4b;
    background-color: #b74f4b;
    border-radius: 10px;

}
*/


.tabla {
    caption-side: top;
    min-width: 600px;
    margin-bottom: 4rem;
    margin-top: 4rem;
}


.tabla th, .tabla td {
padding: 2px; /* Espaciado interno de las celdas */
text-align: left; /* Alineación del texto en las celdas */
}

.tabla caption {
background-color: #075c73; /* Color de fondo de los encabezados */
color: #fff;
}

.tabla th {
    color: #075c73;
}

.tabla tr:nth-child(even) {
background-color: #f9f9f9; /* Color de fondo de las filas pares */
}

.tabla tr:hover {
background-color: #e0e0e0; /* Color de fondo al pasar el cursor sobre las filas */
}



caption {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #eee;
  }

  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 2%;
    margin-bottom: -2%;
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    height: 95vh;
    background-image: url('../../../assets/foot.png');
    background-size: 100%;
}

span{
    font-size: 14px;
    margin-top: 25px;
}

.content{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.content .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content input{
    text-align: center;
    accent-color: #333;
    width: 12px;
    height: 12px;
}

.content label{
    font-size: 14px;
    user-select: none;
    padding-left: 5px;
    /* 16:23*/
}

.tiempo{
    width: 95%;
    font-size: smaller;
    text-align: center;
    display:inline-flex;
}

span{
    text-align: center;
    font-size: smaller;
    margin-right: 5px;
    margin-left: 5px;
    color: #333;
}

h5{
    margin: 0%;
    margin-top: 10px;
    color: #333
}

h4{
    
    margin-top: -30px;
    color: #333
}

form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input{
    background-color: #eee;
    border-radius: 10px;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}


.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.login-container{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .login-container{
    transform: translateX(100%);
}


.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.container.right-panel-active .overlay-container{
    transform: translate(-100%);
}

.overlay{
    background-image: url('../../../assets/form.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: 0 0;
    color: #fff;
    position: relative;
    left: -3%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out ;
}

.text-center{
    margin: 8px, 8px;
}

.row{
    width: 100px;
    color: #333;
    cursor: pointer;
    border-radius: 10px;
}

.ocupar{
    background-color: cadetblue;
}
.rentar{
    background-color: rgb(103, 86, 143);
}

.contenedor {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    padding: 0 7rem;
  }
  .close{
    padding: 5px 10px; /* Espaciado interno del botón */
    border: none; /* Quita el borde del botón */
    display: inline-block; /* Hace que el botón se muestre como un bloque en línea */
    color: #000000;    
    border-radius: 10px;
}

.btnModal{
    background-color: rgb(129, 79, 198);
    padding: 5px 15px; /* Espaciado interno del botón */
    border: none; /* Quita el borde del botón */
    display: inline-block; /* Hace que el botón se muestre como un bloque en línea */
    font-size: 16px; /* Tamaño de fuente del texto */
    transition-duration: 0.4s; /* Duración de la transición */
    color: #ffffff;    
    border-radius: 10px;
    font-weight: 600;
}