/* Estilos generales */

 
  .container {
    flex: 1;
  }
  
  /* Estilos del footer */
  footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
  }
  
  .footer-content {
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  .footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-links li {
    margin-right: 10px;
  }
  
  .footer-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links li a:hover {
    text-decoration: underline;
  }
  