header {
    background-color: #333;
    color: #fff;
    padding: 25px;
}


.fixed-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding: 10px;
}

.fixed-menu ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.fixed-menu ul li {
display: inline-block;
margin-right: 10px; 
}

.fixed-menu ul li a {
color: #fff;
text-decoration: none;
padding: 10px;
}

.fixed-menu ul li a:hover{
    background-color: #555;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    padding-bottom: 10%;
}


/*
nav ul li a:hover {
background-color: #555;
padding: 2%;
border-radius: 5px;
transition: background-color 0.3s ease-in-out;
} */

.container3{
    position: absolute;
    margin-top: -30px;
    margin-left: 85%;
    color: #fff;
}