<header>
  <nav class="fixed-menu">
    <ul>
      <li><a routerLink="/parking">MENÚ PRINCIPAL</a></li>
      <li><a routerLink="/rentados">SPOT RENTADOS</a></li>
      <li><a routerLink="/reportes">REPORTES</a></li>
      <li *ngIf="role=='Administrador'"><a routerLink="/CrearUsuario">NUEVO USUARIO</a></li>
      <li><a (click)="Salir()">SALIR</a></li>
    </ul>
    <div class="container3">
      <h2><strong>{{ currentDateTime | date:'shortTime' }}</strong></h2>
    </div>
  </nav>
</header>




