<body>

    <div class="" id="container">
        <div class="form-container login-container">
        <form action="#">
            <!--LOGO-->
            <div></div>
            <h1>Bienvenido</h1>
            <h5>Iniciar sesión</h5>
            <!--CORREO ELECTRONICO-->
            <input type="email" placeholder="Correo Electronico" name="email" id="email" required="required"
            [(ngModel)]="datosLogin.email" />
            
            <!--CONTRASEÑA-->
            <input type="password" placeholder="Contraseña" name="password" id="password" required="required" 
            [(ngModel)]="datosLogin.password" >
            
            <!--INGRESAR-->
            <button type="submit" value="Ingresar" class="button" (click)="login()"> INGRESAR </button>
            
            
          
        </form>
    </div>
</div>

</body>