<app-navbar></app-navbar>
<h1>GENERAR REPORTES</h1>
<div class="container22">
  <div>
    <img src="../../../assets/reportes.png" alt="" width="390">
  </div>
  <div>
    <label for="fechaInicio">Fecha de inicio:</label>
    <input type="date" id="fechaInicio" [(ngModel)]="fechaInicio">
    
    <label for="fechaTermino">Fecha de término:</label>
    <input type="date" id="fechaTermino" [(ngModel)]="fechaTermino">
    
    <button (click)="generarReportes()">Generar reporte PDF</button>
  </div>
  </div>
  <br>
  <br>
  
  <div class="table-container">
    
    <table class="tabla" >
        <caption>Ingresos</caption>
        <thead>
          <th>Placa</th>
          <th>Cajon</th>
          <th>Fecha de ingreso</th>
          <th>Hora de ingreso</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of datos2; let i=index">
            <td>{{item.placa}}</td>
            <td>{{item.cajon}}</td>
            <td>{{item.fecha | date:'dd/MM/yyyy'}}</td>
            <td>{{item.hora}}</td>
          </tr>
        </tbody>
      </table>
  
      <table class="tabla" >
        <caption>Salidas</caption>
        <thead>
          <th>Placa</th>
          <th>Cajon</th>
          <th>Fecha de Salida</th>
          <th>Hora de Salida</th>
          <th>Tiempo</th>
          <th>Total</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of datosSalida; let i=index">
            <td>{{item.placa}}</td>
            <td>{{item.cajon}}</td>
            <td>{{item.FechaSalida | date:'dd/MM/yyyy'}}</td>
            <td>{{item.horaSalida}}</td>
            <td>{{item.tiempo}}</td>
            <td>${{item.total}}</td>
            
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <p>Total: {{ total }}</p>
          </tr>
        </tbody>
      </table>
  </div>
  
  <footer>
    <app-footer></app-footer>
  </footer>