<app-navbar></app-navbar>
<div>
  <div class="container2">
    <img src="../../../assets/bienvenida2.gif" class="fade-image">
  </div>
  
  <!-- <div class="container3">
    <h2><strong>{{ currentDateTime | date:'shortTime' }}</strong></h2>
  </div>
</div> -->

<div class="container">
<h5 style="font-size:x-large;">ESPACIOS DE ESTACIONAMIENTO</h5>
<h5 style="font-size:medium;">Selecciona la cabina de renta</h5> <br><br>


<div *ngFor="let spot of parkingSpots" class="parking-spot" [class.selected]="spot.isOccupied" >
    <span><strong>{{ spot.label }} </strong></span>
    <h3><strong>{{ spot.label }} </strong></h3>
    <div  *ngIf="spot.isOccupied" class="timer" ></div>
    <div class="botons">
      <div class="" *ngIf="spot.isSelectedE">
        <p class="texto">Estacionar</p>
        <button class="btn ocupar" (click)="mostrarModalInfo(spot)"><i class="fa-solid fa-download fa-rotate-270" style="color: #ffffff;"></i></button>
        <button class="btn ocupar2"  (click)="mostrarModalConf(spot)"><i class="fa-solid fa-download fa-rotate-90" style="color: #ffffff;"></i></button>
      </div>
      <div class="" *ngIf="spot.isSelectedR">
        <p class="texto" >Rentar</p>
        <button class="btn rentar"  (click)="mostrarModalInfo2(spot)" ><i class="fa-solid fa-car-tunnel" style="color: #ffffff;"></i></button>
        <button class="btn rentar2"  (click)="mostrarModalConf2(spot)" ><i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180" style="color: #ffffff;"></i></button>
      </div>
    </div>

  <ng-template #myModalInfo let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="myModalLabel">REGISTRO DE ENTRADA</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">X
        </button>
      </div>
      <div class="modal-body">
          <form action="#">
              <input type="text" [(ngModel)]="placa" name="placa" placeholder="Placa" maxlength="7">
              <p>Numero de cajon: {{cajon}}</p>
              <!--<input type="number" [(ngModel)]="cajon" name="cajon" placeholder placeholder="Número de cajón" disabled="">-->
              <p>Fecha de entrada:  {{ fechaActual | date:'dd/MM/yyyy' }}</p>
              <p>Hora de entrada:  {{ fechaActual | date:'hh:mm:ss a' }}</p>
              <button style="left: 25%;" class=" btnModal" (click)="guardar()"> REGISTRAR </button>
          </form>
  </div>
</div>
</ng-template>

<ng-template #myModalInfo2 let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title" id="myModalLabel">REGISTRO DE RENTA SPOT</h2>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">X
      </button>
    </div>
    <div class="modal-body">
      <form action="#">
        <input type="text" [(ngModel)]="DatosT.placa" name="placa" placeholder="Placa">
        <input type="text" [(ngModel)]="DatosT.nombreD"  name="nombreD" placeholder="Nombre dueño">
        <p>Numero de cajon: {{cajon}}</p>
        <p>Fecha de entrada:  {{ fechaActual | date:'dd/MM/yyyy'}}</p>
        <h5>Tipo de renta</h5>
        <div class="">
            <label class="form-check-label">
            <input class="" type="radio" name="periodo" value="Dia" [(ngModel)]="DatosT.periodo"> Día
            </label>
            <label>
            <input class="" type="radio" name="periodo" value="Semana" [(ngModel)]="DatosT.periodo"> Semana
            </label>
            <label>
              <input class="" type="radio" name="periodo" value="Mes" [(ngModel)]="DatosT.periodo"> Mes
            </label>
        </div>
        <input type="text" placeholder="Cantidad (dias, semanas o meses)"  (keypress)="validateKeyPress($event)"   [(ngModel)]="DatosT.cantidad" name="cantidad">
        <div class="tiempo">
            <span>$</span><input type="number" placeholder="Monto Total" [(ngModel)]="DatosT.totalT" name="total" [disabled]="isDisabled">
        </div>
        <button style="left: 25%;" class="btnModal" (click)="guardarTemporal()"> REGISTRAR</button>
    </form>
</div>
</div>
</ng-template>


<ng-template #myModalConf let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title" id="myModalLabel">SALIDA</h2>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">X
      </button>
    </div>
    <div class="modal-body">
        <form action="#">
          <p>Placa: {{Datos2.placa}}</p>
          <p>Fecha de Salida:  {{ fechaActualSalida | date:'dd/MM/yyyy' }}</p>
            <p>Hora de salida: {{ fechaActualSalida | date:'hh:mm:ss' }}</p>
            <p>Numero de cajon: {{cajon}}</p>
            <!--<div *ngIf="selectedSpot"></div>-->
              <p>Tiempo: {{Datos2.tiempo}}</p>
              <p>Total: {{Datos2.total}}</p>
            <!--<input type="number" [(ngModel)]="cajon" name="cajon" placeholder placeholder="Número de cajón" disabled="">-->
            <button style="left: 25%;" (click)="VerificarSalida()" class="btnModal"> REGISTRAR </button>
        </form>
</div>
</div>
</ng-template>



<ng-template #myModalConf2 let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title" id="myModalLabel">SALIDA RENTA</h2>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">X
      </button>
    </div>
    <div class="modal-body">
        <form action="#">
          <p>Fecha de Salida:  {{ fechaActualSalida | date:'dd/MM/yyyy' }}</p>
            <p>Hora de salida: {{ fechaActualSalida | date:'hh:mm:ss' }}</p>
            <p>Numero de cajon: {{cajon}}</p>
            <!--<div *ngIf="selectedSpot"></div>-->
              <p>Periodo: {{DatosT.periodo}}</p>
              <p>Total: {{DatosT.totalT}}</p>
            
            <!--<input type="number" [(ngModel)]="cajon" name="cajon" placeholder placeholder="Número de cajón" disabled="">-->
            <button style="left: 25%;" (click)="agregarSalidaTemporal()" class="btnModal"> OK </button>
        </form>
</div>
</div>
</ng-template>
    <ng-template #myModalInfo3 let-modal>
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="myModalLabel">Editar placa</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">X
          </button>
        </div>
        <div class="modal-body">
            <form action="#">
              <label for="">Placa:</label>
                <input type="text"  name="placa" [(ngModel)]="datosU1.placa" placeholder="Placa">
                <br>
                <button style="left: 25%;" (click)="mostrarConfirmacionUpdate()" class="btnModal"> EDITAR REGISTRO </button>
              </form>
    </div>
    </div>
    </ng-template>

</div>


<br>
</div>

<br>
<br>

<div class="table-container">

    <table class="tabla" >
      <caption>INGRESOS</caption>
      <thead>
        <th>Placa</th>
        <th>Cajon</th>
        <th>Fecha de ingreso</th>
        <th>Hora de ingreso</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of datos2; let i=index">
          <td>{{item.placa}}</td>
          <td>{{item.cajon}}</td>
          <td>{{item.fecha | date:'dd/MM/yyyy'}}</td>
          <td>{{item.hora}}</td>
          <td *ngIf="role=='Administrador'">
            <button type="button" class="btn2 btn-danger" (click)="mostrarConfirmacionEliminar1(item._id)"><i class="fa-solid fa-trash"></i>
            </button>
          </td>
          <td>
            <button type="button" class="btn2 btn-warning" (click)="mostrarModalUptade1(item)"><i class="fa-solid fa-pen-to-square"></i></button>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="tabla" >
      <caption>SALIDAS</caption>
      <thead>
        <th>Placa</th>
        <th>Cajon</th>
        <th>Fecha de Salida</th>
        <th>Hora de Salida</th>
        <th>Tiempo</th>
        <th>Total</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of datosSalida; let i=index">
          <td>{{item.placa}}</td>
          <td>{{item.cajon}}</td>
          <td>{{item.FechaSalida | date:'dd/MM/yyyy' }}</td>
          <td>{{item.horaSalida}}</td>
          <td>{{item.tiempo}}</td>
          <td>{{item.total}}</td>
          <td *ngIf="role=='Administrador'">
            <button type="button" class="btn2 btn-danger" (click)="mostrarConfirmacionEliminar2(item._id)"><i class="fa-solid fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<footer>
  <app-footer></app-footer>
</footer>