body{
    background-position: center;
    height: 100vh;
    display: flex;
    font-family: "Poppins", sans-serif;
    background-image: url('../../../assets/login.png');
}

h1{
    font-weight:bolder;
}

span{
    font-size: 14px;
    margin-top: 25px;
}

.content{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.content .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content input{
    accent-color: #333;
    width: 12px;
    height: 12px;
}

.content label{
    font-size: 14px;
    user-select: none;
    padding-left: 5px;
}

button{
    position: relative;
    border-radius: 20px;
    border: 1px solid #4bb6b7;
    background-color: #4bb6b7;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin: 10x;
    padding: 12px 80px;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 3%;

	overflow: hidden;
	cursor: pointer;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	transition: all ease 0.5s;
	background:#4bb6b7;
}


button:after,
button:before{
	width: 80px;
	height: 200px;
	content: '';
	display: block;
	background: rgba(255,255,255,0.5);
	transform: rotate(45deg);
	top: -80px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;
    letter-spacing: 3px;
}

button:before{
	left: -48%;
}

button:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background:#147788;
    letter-spacing: 3px;
}

button:hover:after,
button:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(255,255,255,0.1);
	transition: all ease 0.5s;
}

button:hover:after{
	right: 130%;
}

button:hover:before{
	left: 130%;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

label{
   color:#616161 ;
}

input{
    background-color: #eee;
    border-radius: 15px;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 80%;
}

select{
    background-color: #eee;
    border-radius: 15px;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 50%; 
}


option{
    background-color: #eee;
    border-radius: 15px;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
}

.container{
    border-radius: 25px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) ;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 500px;
}



.login-container{
    left: 0;
    width: 150%;
    margin-top: 5rem;
}

.container.right-panel-active .login-container{
    transform: translateX(100%);
}

@keyframes show {
    0%,
    49.99%{
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.container.right-panel-active .overlay-container{
    transform: translate(-100%);
}

img{
    width: 50px;
    height: 50px;
}