<app-navbar></app-navbar>
<body>

    <div class="" id="container">
        <div class="form-container login-container">
        <form action="#">
            <h1>Registrar usuario</h1>
            <input matInput placeholder="Nombre" [(ngModel)]="Datos.nombreUsuario" name="usuario" >
            <input matInput placeholder="Correo" value="tesla@gmail.com" [(ngModel)]="Datos.email" name="correo" >

            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="Datos.password" name="pass" placeholder="Contraseña" >
                <label for="">Rol:</label>

                    <select [(ngModel)]="Datos.role" name="vehiculo">
                        <option value="Administrador">Administrador</option>
                        <option value="Empleado">Empleado</option>
                    </select>
            <button type="submit" class="guardar" (click)="AgregarUser()">Registrar</button>
        </form>
    </div>
</div>
</body>
<app-footer></app-footer>